
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:red;
    font-weight: bolder;
    text-align: center;
}

.serves{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:red;
    text-align: center;
    font-style: italic;
}

body {

}

h1 {
    position: relative;
    left: 350px;
    top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(22, 98, 168);
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

button {
    padding: 20px 20px;

}

#homePic {
    position: relative;
    left: 80px;
    padding: 10px 20px;
    border-radius:50%;
}

