.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:navy;
    font-weight: bolder;
    text-align: center;
}

.serves{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:navy;
    text-align: center;
    font-style: italic;
}

