.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:red;
    font-weight: bolder;
    text-align: center;
}

.serves{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:red;
    text-align: center;
    font-style: italic;
}